@import "~bootswatch/dist/sandstone/_variables.scss";
@import '~bootstrap/scss/bootstrap.scss';
@import "~bootswatch/dist/sandstone/_bootswatch.scss";

@import './vars.scss';

#app {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
}

// Helpers

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;;
}
