//@import "~bootswatch/dist/sandstone/_variables.scss";
@import '~bootstrap/scss/bootstrap.scss';
//@import "~bootswatch/dist/simplex/_bootswatch.scss";

@import './vars.scss';

#app {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

// Helpers

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;;
}

.bg-twitter {background-color: #1DA1F2 !important;}
.bg-youtube {background-color: #c4302b !important;}
.bg-facebook {background-color: #3b5998 !important;}
.bg-pinterest {background-color: #c8232c !important;}
.bg-instagram {background-color: #405DE6 !important;}
